<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href={{ url_for('static', filename = 'css/images/icons/sicon.png') }} />
    <title>Kshipra lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet"> 
</head>
<body style="background-color: #333333;color: antiquewhite;font-family: 'K2D', sans-serif;font-size: 15pt;  height: 100%;" onload="getLocation()" >
    <div class="container" style="padding: 10% 0 0 0;text-align:center;box-shadow: white;height: 100%;">

            <h1 style="font-family: 'K2D', sans-serif;margin-bottom: 1%;text-shadow: 2px 2px 2px #111111">Kshipra</h1>
            <h3 style="font-family: 'Rhodium Libre', serif;margin-bottom: 5%;">क्षिप्रा</h3>
        <form style="align-content: center; " action="{{ url_for('res') }}" method="POST">
            Enter Coordinates
            <br>
            <input id="latitude" type="text" value="Latitude" name="latitude" style="padding: 0pt;margin-bottom: 20px;" onfocus="inputFocus(this)" onblur="inputBlur(this)">
            <br>
            <input id="longitude" type="text" value="Longitude" name="longitude" style="padding: 0pt;margin-bottom: 20px;" onfocus="inputFocus(this)" onblur="inputBlur(this)">
            <br>
                {% if error=='1' %}
                <div style="color: red; padding-top:20px;padding-bottom: 20px">Please enter valid longitude latitude</div>
                {% elif error=='2' %}
                <div style="color: yellow; padding-top:20px;padding-bottom: 20px;font-size: 20px">There was a problem retrieving the data please try again.</div>
                {% endif %}
            <br>
            <input type="submit" value="Submit" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.19);padding: 5px 50px;background-color: blueviolet;color: white;border: 0;border-radius: 0px;">
            <br>
                {% if r!='-1' %}
                {%if r|int < 75  %}
                <div style="color: rgb(159, 255, 81); padding-top:20px;padding-bottom: 20px;font-size: 20px">Kshipra detects {{r}}% probability of a landslide occuring here due to curent weather conditions</div>
                {% else %}
                <div style="color: rgb(231, 61, 61); padding-top:20px;padding-bottom: 20px;font-size: 20px">Kshipra detects {{r}}% probability of a landslide occuring here due to curent weather conditions</div>
                {% endif %}
                {% endif %}
        </form> 
    </div>
</body>
<script>

        function inputFocus(i) {
            if (i.value == i.defaultValue) { i.value = ""; i.style.color = "#000"; }
        }
        function inputBlur(i) {
            if (i.value == "") { i.value = i.defaultValue; i.style.color = "#888"; }
        }
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }
        function showPosition(position) {
            var x = document.getElementById("latitude");
            var y = document.getElementById("longitude");
            x.value =position.coords.latitude;
            y.value =position.coords.longitude;
        }
        </script> 
</html>